# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Build outputs
client/build/
dist/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Docker
docker-compose.override.yml
**/.dockerignore

# Uploads / local images
Server/public/images/
